/* Styles */
dialog::backdrop {
    background-color: #00000050;
}

dialog {
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    border-style: solid;
    border-color: #000000;
    border-width: 10px;
}

button {
    font-family: "Bitcattoleman";
    margin: 12;
    width: 120;
    height: 50;
    color: white;
    background: #aaaaaa;
    border-style: none;
}

input[type=search] {
    background: white;
    border: none;
    color: black;
    font-family: "Bitcattoleman"
}

input::placeholder {
    color: #0000004a
}

button:enabled {
    cursor: pointer;
}

button:hover {
    background: #6e6e6e;
}

button:disabled {
    background: #eeeeee;
    color: black;
    animation-name: disable;
    animation-duration: 2s;
}

button:enabled:active {
    background: #111111;
    color: #666666;
}

.dialogTitle {
    width: 650;
    height: 100;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 10px;
}


/* Animations */
@keyframes disable {
    from {background: #aaaaaa; color: white}
    to {background: #eeeeee; color: black}
}