/* Styles */
:root {
    --color-one: #ffffff;
    --color-one-text: #3f48cc;
    --color-two: #3f48cc;
    --color-two-text: #ffffff;
    --color-link: #00e6ff;
    --color-link-hover: #00a2e8;

    --button-disabled-background: #ffffff;
    --button-disabled-text: #505050;
    --button-hover-background: #c3c3c3;
    --button-background: #aaaaaa;
    --button-text: #ffffff;
    --button-pressed-background: #000000;
    --button-pressed-text: #7f7f7f;
}

iframe {
    border: none;
}

#contents {
    height: -webkit-fill-available;
    height: -moz-available;
    height: fill-available;
    overflow: auto;
}

.header {
    height: 110px;
    background: var(--color-one);
    color: var(--color-one-text);
    padding: 10px;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    overflow: auto;
}

page {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows:
        auto /* Header */
        1fr  /* Contents */
        auto /* Footer */;
}

.footer {
    height: 110px;
    background: var(--color-one);
    color: var(--color-one-text);
    padding: 10px;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    overflow: auto;
}

*:any-link:not(.button) {
    color: var(--color-link);
    text-decoration: none;
    animation-name: hyperlinkNohover;
    animation-duration: 0.5s;
}

*:any-link:hover:not(.button) {
    color: var(--color-link-hover);
    text-decoration: none;
    animation-name: hyperlinkHover;
    animation-duration: 0.5s;
}

.button-div {
    height: 100%;
    width: 50%;
    overflow: auto;
    display: table-row-group;
}

.button-div>button {
    margin: 24;
}

#body {
    font-family: "Bitcattoleman";
    color: white;
    background: var(--color-two);
    color: var(--color-two-text);
    overflow: auto;
    margin: 0;
}

.banner {
    border: var(--color-one) solid 10px;
    border-radius: 5px;
    background: black
}

img {
    image-rendering: pixelated;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "TPixel"
}

p {
    font-family: "Kidraw"
}

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.center-child {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}

dialog::backdrop {
    backdrop-filter: blur(.1in);
}

dialog {
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    border-style: solid;
    border-color: #3f48cc;
    border-radius: 50px;
    border-width: 10px;
}

input[type=search], input[type=text], input[type=search], textarea, input[type=url] {
    background: white;
    border: none;
    color: black;
    font-family: "Bitcattoleman";
}

input::placeholder {
    color: #0000004a
}

.button {
    font-family: "Bitcattoleman";
    margin: 12;
    padding: 10 15 10 15;
    color: var(--button-text);
    background: var(--button-background);
    border-style: none;
    text-decoration-line: none;
}

.button:hover {
    background: var(--button-hover-background);
}

.button:disabled {
    background: var(--button-disabled-background);
    color: var(--button-disabled-text);
    animation-name: buttonDisabling;
    animation-duration: 2s;
}

.button:enabled:active {
    background: var(--button-pressed-background);
    color: var(--button-pressed-text);
}

.dialog-header {
    width: 650;
    height: 100;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-style: solid;
    border-color: var(--color-two);
    border-radius: 20px;
    border-width: 10px;
}

/* Animations */
@keyframes buttonDisabling {
    from {background: var(--button-background); color: var(--button-text)}
    to {background: var(--button-disabled-background); color: var(--button-disabled-text)}
}

@keyframes hyperlinkHover {
    from {color: var(--color-link);}
    to {color: var(--color-link-hover);}
}

@keyframes hyperlinkNohover {
    from {color: var(--color-link-hover);}
    to {color: var(--color-link);}
}

/* Fonts */
@font-face {
    src: url("/assets/fonts/font-bitcattoleman.ttf");
    font-family: "Bitcattoleman"
}

@font-face {
    src: url("/assets/fonts/font-kidraw.ttf");
    font-family: "Kidraw"
}

@font-face {
    src: url("/assets/fonts/font-tpixel.ttf");
    font-family: "TPixel"
}