<html>
	<head>
		<title>Minamotion - ...</title>
        <link rel="stylesheet" href="./assets/stylesheets/main.css">
        <link rel="stylesheet" href="./assets/stylesheets/dialog.css">
		<link rel="icon" href="./assets/images/minamotion_logo.png">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5, minimum-scale=0.5">
        <meta charset="UTF-8">
        <meta name="description" content="Welcome to my website where there are interesting yet somewhat simple things I make">
        <meta name="keywords" content="Minamotion, MultiLayer, Cool, Websites">
        <meta name="author" content="Minamotion">
        <meta name="application-name" content="Minamotion's Website">
	</head>
	<body id="body">
		<script src="./assets/scripts/safety.js" async></script>
		<page id="main">
			<div class="wrap header">
     			<img src="./assets/images/minamotion_logo.png" width="100" height="100">
        		<div class="center-child" style="width: 300px;">
          			<div class="wrap" style="justify-content: center; align-content: center;">
            			<img src="./assets/images/minamotion_fn.png" width="240" height="80">
	            		<p style="margin: 0"><a href="https://www.youtube.com/@official_multilayer" title="The website I post videos on">YouTube</a> | <a href="https://scratch.mit.edu/users/MultiLayerScratch" title="The website I post most of my games on">Scratch</a> | <a href="https://github.com/Minamotion" title="The website I post websites on (Like this one!)">Github</a></p>
        			</div>
				</div>
				<div class="hfButtons"></div>
      		</div>
      		<div id="contents">
                <!-- Insert some html code here! -->
    		</div>
      		<div class="wrap footer">
				<div class="hfButtons"></div>
  			</div>
    	</page>
  	</body>
</html>