<html>
	<head>
		<title>Minamotion - ...</title>
        <link rel="stylesheet" href="/assets/stylesheets/main.css">
		<link rel="icon" href="/assets/images/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5, minimum-scale=0.5">
        <meta charset="UTF-8">
        <meta name="description" content="Welcome to my website where there are interesting yet somewhat simple things I make">
        <meta name="keywords" content="Minamotion, MultiLayer, Cool, Websites">
        <meta name="author" content="Minamotion">
        <meta name="application-name" content="Minamotion's Website">
	</head>
	<body id="body">
		<script src="/assets/scripts/safety.js" type="module"></script>
		<script src="/assets/scripts/social-media.js" type="module"></script>
		<page id="main">
			<div class="wrap header">
     			<img src="/assets/images/favicon.png" width="100" height="100">
        		<div class="center-child" style="width: 300px;">
          			<div class="wrap" style="justify-content: center; align-content: center;">
            			<img src="/assets/images/minamotion.png" width="240" height="80">
        			</div>
				</div>
				<div class="button-div">
					<div id="socialmedia"></div>
				</div>
      		</div>
      		<div id="contents">
                <!-- Insert some html code here! -->
    		</div>
			<div class="wrap footer">
				<div class="button-div">
					<p>Any questions, concerns, or anything you want to request?</p>
					<a class="button" href="mailto:hello@minamotion.name">Email me!</a>
				</div>
  			</div>
    	</page>
  	</body>
</html>